<div style="display: flex; flex-flow: row wrap; justify-content: space-between; max-width: 1024px; margin: auto;">
    <div style="display: flex; flex-flow: column nowrap;">
        <h3>Details</h3>
        <div>ระยะ 10 กิโลเมตร</div>
        <div>ถ้วยรางวัลสำหรับผู้ที่เข้าเส้นชัยลำดับที่ 1-3 ชายและหญิงในแต่ละรุ่นอายุดังนี้</div>
        <div>&lt; 20 ปี</div>
        <div>20-29 ปี</div>
        <div>30-39 ปี</div>
        <div>40-49 ปี</div>
        <div>50 ปีขึ้นไป</div>
        <div>ระยะ 5 กิโลเมตร</div>
    </div>
    <div>
        <h3>Registration Fee</h3>
        <div style="display: flex; justify-content: space-between; align-items: center; min-width: 300px;">
            <div>Fun run (นิสิต)</div>
            <div>400 THB</div>
        </div>
        <div style="display: flex; justify-content: space-between; align-items: center; min-width: 300px;">
            <div>Micro-marathon (นิสิต)</div>
            <div>400 THB</div>
        </div>
        <div style="display: flex; justify-content: space-between; align-items: center; min-width: 300px;">
            <div>Mini-marathon (นิสิต)</div>
            <div>400 THB</div>
        </div>
        <div style="display: flex; justify-content: space-between; align-items: center; min-width: 300px;">
            <div>Fun run</div>
            <div>500 THB</div>
        </div>
        <div style="display: flex; justify-content: space-between; align-items: center; min-width: 300px;">
            <div>Micro-marathon</div>
            <div>500 THB</div>
        </div>
        <div style="display: flex; justify-content: space-between; align-items: center; min-width: 300px;">
            <div>Mini-marathon</div>
            <div>500 THB</div>
        </div>
        <div style="display: flex; justify-content: space-between; align-items: center; min-width: 300px;">
            <div>VIP Fun run</div>
            <div>1500 THB</div>
        </div>
        <div style="display: flex; justify-content: space-between; align-items: center; min-width: 300px;">
            <div>VIP Micro-marathon</div>
            <div>1500 THB</div>
        </div>
        <div style="display: flex; justify-content: space-between; align-items: center; min-width: 300px;">
            <div>VIP Mini-marathon</div>
            <div>1500 THB</div>
        </div>
    </div>
</div>